.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Stilizacija za naslov */
h1 {
  text-align: center;
  /* Centriranje teksta */
  margin-bottom: 20px;
  /* Razmak ispod naslova */
}

/* Stilizacija za dugmad */
.button-container {
  display: flex;
  justify-content: center;
  /* Centriranje dugmadi po horizontali */
  margin-bottom: 20px;
  /* Razmak ispod dugmadi */
}

.button-container button {
  margin: 0 10px;
  /* Razmak između dugmadi */
  padding: 10px 20px;
  /* Veličina dugmadi */
  background-color: #007bff;
  /* Boja pozadine */
  color: white;
  /* Boja teksta */
  border: none;
  /* Uklanja ivice */
  border-radius: 5px;
  /* Zaobljeni ivici */
  cursor: pointer;
  /* Pokazivač ruke */
  transition: background-color 0.3s;
  /* Animacija boje pozadine */
}

.button-container button:hover {
  background-color: #0056b3;
  /* Boja pozadine prilikom prelaska mišem */
}

/* Stilizacija za tabelu */
.table-container {
  display: flex;
  justify-content: center;
  /* Centriranje tabele po horizontali */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}